.rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.star {
  font-size: 18px;
  line-height: 1;
  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.value {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  @media (max-width: 768px) {
    font-size: 12px;
  }
} 