.title {
  font-size: 27px;
  font-weight: 400;
  color: var(--white);
  text-align: left;
  margin-bottom: 25px;
  padding-left: var(--spacing-md);
  font-family: var(--primary-font);
  @media (max-width: 768px) {
    font-size: 18px;
    margin-bottom: 18px;
  }
} 