@font-face {
  font-family: 'FastFoodW01-Regular';
  src: url('/fonts/FastFoodW01-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #8B0057;
  --background-color: #260014;
  --white: #ffffff;
  --black: #000000;
  --container-width: 1440px;
  --header-height: 101px;
  --mobile-header-height: 62px;
  --secondary-font: 'Inter', sans-serif;
  --primary-font: 'FastFoodW01-Regular', sans-serif;
}

/* Import Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white);
  color: var(--white);
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  padding-top: var(--header-height);
  @media (max-width: 768px) {
    padding-top: var(--mobile-header-height);
  }
}

.container {
  max-width: var(--container-width);
  width: 100%;
  margin: 0 auto;
  /* padding: 0 1rem; */
  background-color: var(--primary-color);
  min-height: calc(100vh - var(--header-height));
}